<div class="container debug">
    <h1 class="h1">Debug</h1>
    <form id="hostname">
        <label for="hostname">hostname</label>
        <input type="text" name="hostname" placeholder="hostname">
        <input type="submit">
    </form>
</div>