<div class="container home">
    <p class="home-intro"><span style="color: #e53428;">POLYPTYQUE</span> est un dispositif<br />
de capture et de restitution d’images réelles en 3D,<br />
imaginé par Arthur Violy et Bertrand Sandrez.</p>
    <img src="../images/questionnaire/logo_accueil.png" alt="POLYPOTO" height="514" width="390">
    <p class="home-intro"><span style="color: #e53428;">POLYPOTO</span> est un projet expérimental,<br /> 
s’appuyant sur le dispositif  <span style="color: #e53428;">POLYPTYQUE</span>,<br /> 
imaginé et réalisé par les élèves de troisième 1<br />
du collège Lenain de Tillement de Montreuil.</p> 
    <a class="red-button" href="step-0">COMMENCER L'EXPÉRIENCE</a>
</div>

<script>
    var form_autosubmit = false, __debug__ = false;
</script>