$FontPathMontserrat: "../fonts/montserrat" !default;

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
  src: url('#{$FontPathMontserrat}/ExtraLight/Montserrat-ExtraLight.eot');
  src: url('#{$FontPathMontserrat}/ExtraLight/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPathMontserrat}/ExtraLight/Montserrat-ExtraLight.woff') format('woff'),
       url('#{$FontPathMontserrat}/ExtraLight/Montserrat-ExtraLight.woff2') format('woff2'),
       url('#{$FontPathMontserrat}/ExtraLight/Montserrat-ExtraLight.ttf') format('truetype'),
       url('#{$FontPathMontserrat}/ExtraLight/Montserrat-ExtraLight.svg#MontserratExtraLight') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
  src: url('#{$FontPathMontserrat}/Thin/Montserrat-Thin.eot');
  src: url('#{$FontPathMontserrat}/Thin/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPathMontserrat}/Thin/Montserrat-Thin.woff') format('woff'),
       url('#{$FontPathMontserrat}/Thin/Montserrat-Thin.woff2') format('woff2'),
       url('#{$FontPathMontserrat}/Thin/Montserrat-Thin.ttf') format('truetype'),
       url('#{$FontPathMontserrat}/Thin/Montserrat-Thin.svg#MontserratThin') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('#{$FontPathMontserrat}/Light/Montserrat-Light.eot');
  src: url('#{$FontPathMontserrat}/Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPathMontserrat}/Light/Montserrat-Light.woff') format('woff'),
       url('#{$FontPathMontserrat}/Light/Montserrat-Light.woff2') format('woff2'),
       url('#{$FontPathMontserrat}/Light/Montserrat-Light.ttf') format('truetype'),
       url('#{$FontPathMontserrat}/Light/Montserrat-Light.svg#MontserratLight') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('#{$FontPathMontserrat}/Medium/Montserrat-Medium.eot');
  src: url('#{$FontPathMontserrat}/Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPathMontserrat}/Medium/Montserrat-Medium.woff') format('woff'),
       url('#{$FontPathMontserrat}/Medium/Montserrat-Medium.woff2') format('woff2'),
       url('#{$FontPathMontserrat}/Medium/Montserrat-Medium.ttf') format('truetype'),
       url('#{$FontPathMontserrat}/Medium/Montserrat-Medium.svg#MontserratMedium') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('#{$FontPathMontserrat}/Regular/Montserrat-Regular.eot');
  src: url('#{$FontPathMontserrat}/Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPathMontserrat}/Regular/Montserrat-Regular.woff') format('woff'),
       url('#{$FontPathMontserrat}/Regular/Montserrat-Regular.woff2') format('woff2'),
       url('#{$FontPathMontserrat}/Regular/Montserrat-Regular.ttf') format('truetype'),
       url('#{$FontPathMontserrat}/Regular/Montserrat-Regular.svg#MontserratRegular') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('#{$FontPathMontserrat}/Semibold/Montserrat-SemiBold.eot');
  src: url('#{$FontPathMontserrat}/Semibold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPathMontserrat}/Semibold/Montserrat-SemiBold.woff') format('woff'),
       url('#{$FontPathMontserrat}/Semibold/Montserrat-SemiBold.woff2') format('woff2'),
       url('#{$FontPathMontserrat}/Semibold/Montserrat-SemiBold.ttf') format('truetype'),
       url('#{$FontPathMontserrat}/Semibold/Montserrat-SemiBold.svg#MontserratSemiBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('#{$FontPathMontserrat}/Bold/Montserrat-Bold.eot');
  src: url('#{$FontPathMontserrat}/Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPathMontserrat}/Bold/Montserrat-Bold.woff') format('woff'),
       url('#{$FontPathMontserrat}/Bold/Montserrat-Bold.woff2') format('woff2'),
       url('#{$FontPathMontserrat}/Bold/Montserrat-Bold.ttf') format('truetype'),
       url('#{$FontPathMontserrat}/Bold/Montserrat-Bold.svg#MontserratBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url('#{$FontPathMontserrat}/ExtraBold/Montserrat-ExtraBold.eot');
  src: url('#{$FontPathMontserrat}/ExtraBold/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPathMontserrat}/ExtraBold/Montserrat-ExtraBold.woff') format('woff'),
       url('#{$FontPathMontserrat}/ExtraBold/Montserrat-ExtraBold.woff2') format('woff2'),
       url('#{$FontPathMontserrat}/ExtraBold/Montserrat-ExtraBold.ttf') format('truetype'),
       url('#{$FontPathMontserrat}/ExtraBold/Montserrat-ExtraBold.svg#MontserratExtraBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url('#{$FontPathMontserrat}/Black/Montserrat-Black.eot');
  src: url('#{$FontPathMontserrat}/Black/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPathMontserrat}/Black/Montserrat-Black.woff') format('woff'),
       url('#{$FontPathMontserrat}/Black/Montserrat-Black.woff2') format('woff2'),
       url('#{$FontPathMontserrat}/Black/Montserrat-Black.ttf') format('truetype'),
       url('#{$FontPathMontserrat}/Black/Montserrat-Black.svg#MontserratBlack') format('svg');
}
