$beige: #fff0c3;
$red: #e53428;
$grey: #646464;
$white: #FFFFFF;
$green: #6bff94;

$ipad-width:768px;
$ipad-height:1024px;

$montserrat: 'Montserrat', sans-serif;

//$montserrat: 'Montserrat', src: url('https://fonts.googleapis.com/css?family=Montserrat');
