@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?659d5v");
  src: url("../fonts/icomoon.eot?659d5v#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?659d5v") format("truetype"), url("../fonts/icomoon.woff?659d5v") format("woff"), url("../fonts/icomoon.svg?659d5v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow:before {
  content: "\e905"; }

.icon-letter:before {
  content: "\e903"; }

.icon-print:before {
  content: "\e904"; }

.icon-push-button:before {
  content: "\e901"; }

.icon-tabouret:before {
  content: "\e902"; }

.icon-logo-polyptyque:before {
  content: "\e900"; }

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/montserrat/ExtraLight/Montserrat-ExtraLight.eot");
  src: url("../fonts/montserrat/ExtraLight/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/ExtraLight/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/montserrat/ExtraLight/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/ExtraLight/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/montserrat/ExtraLight/Montserrat-ExtraLight.svg#MontserratExtraLight") format("svg"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/montserrat/Thin/Montserrat-Thin.eot");
  src: url("../fonts/montserrat/Thin/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Thin/Montserrat-Thin.woff") format("woff"), url("../fonts/montserrat/Thin/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Thin/Montserrat-Thin.ttf") format("truetype"), url("../fonts/montserrat/Thin/Montserrat-Thin.svg#MontserratThin") format("svg"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/montserrat/Light/Montserrat-Light.eot");
  src: url("../fonts/montserrat/Light/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Light/Montserrat-Light.woff") format("woff"), url("../fonts/montserrat/Light/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Light/Montserrat-Light.ttf") format("truetype"), url("../fonts/montserrat/Light/Montserrat-Light.svg#MontserratLight") format("svg"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/montserrat/Medium/Montserrat-Medium.eot");
  src: url("../fonts/montserrat/Medium/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Medium/Montserrat-Medium.woff") format("woff"), url("../fonts/montserrat/Medium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Medium/Montserrat-Medium.ttf") format("truetype"), url("../fonts/montserrat/Medium/Montserrat-Medium.svg#MontserratMedium") format("svg"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/montserrat/Regular/Montserrat-Regular.eot");
  src: url("../fonts/montserrat/Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Regular/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/montserrat/Regular/Montserrat-Regular.svg#MontserratRegular") format("svg"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/montserrat/Semibold/Montserrat-SemiBold.eot");
  src: url("../fonts/montserrat/Semibold/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Semibold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/montserrat/Semibold/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Semibold/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/montserrat/Semibold/Montserrat-SemiBold.svg#MontserratSemiBold") format("svg"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/montserrat/Bold/Montserrat-Bold.eot");
  src: url("../fonts/montserrat/Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/montserrat/Bold/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/montserrat/Bold/Montserrat-Bold.svg#MontserratBold") format("svg"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/montserrat/ExtraBold/Montserrat-ExtraBold.eot");
  src: url("../fonts/montserrat/ExtraBold/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/ExtraBold/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/montserrat/ExtraBold/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/ExtraBold/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/montserrat/ExtraBold/Montserrat-ExtraBold.svg#MontserratExtraBold") format("svg"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/montserrat/Black/Montserrat-Black.eot");
  src: url("../fonts/montserrat/Black/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Black/Montserrat-Black.woff") format("woff"), url("../fonts/montserrat/Black/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Black/Montserrat-Black.ttf") format("truetype"), url("../fonts/montserrat/Black/Montserrat-Black.svg#MontserratBlack") format("svg"); }
/*! =========================================================
 * bootstrap-slider.js
 *
 * Maintainers:
 *		Kyle Kemp
 *			- Twitter: @seiyria
 *			- Github:  seiyria
 *		Rohit Kalkur
 *			- Twitter: @Rovolutionary
 *			- Github:  rovolution
 *
 * =========================================================
 *
 * bootstrap-slider is released under the MIT License
 * Copyright (c) 2017 Kyle Kemp, Rohit Kalkur, and contributors
 * 
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following
 * conditions:
 * 
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 * OTHER DEALINGS IN THE SOFTWARE.
 *
 * ========================================================= */
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .slider.slider-horizontal {
    width: 210px;
    height: 20px; }
    .slider.slider-horizontal .slider-track {
      height: 10px;
      width: 100%;
      margin-top: -5px;
      top: 50%;
      left: 0; }
    .slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {
      height: 100%;
      top: 0;
      bottom: 0; }
    .slider.slider-horizontal .slider-tick,
    .slider.slider-horizontal .slider-handle {
      margin-left: -10px; }
      .slider.slider-horizontal .slider-tick.triangle,
      .slider.slider-horizontal .slider-handle.triangle {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border-width: 0 10px 10px 10px;
        width: 0;
        height: 0;
        border-bottom-color: #e53428;
        margin-top: 0; }
    .slider.slider-horizontal .slider-tick-container {
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
    .slider.slider-horizontal .slider-tick-label-container {
      white-space: nowrap;
      margin-top: 20px; }
      .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
        display: inline-block;
        padding-top: 24px;
        text-align: center; }
    .slider.slider-horizontal.slider-rtl .slider-track {
      left: initial;
      right: 0; }
    .slider.slider-horizontal.slider-rtl .slider-tick,
    .slider.slider-horizontal.slider-rtl .slider-handle {
      margin-left: initial;
      margin-right: -10px; }
    .slider.slider-horizontal.slider-rtl .slider-tick-container {
      left: initial;
      right: 0; }
  .slider.slider-vertical {
    height: 210px;
    width: 20px; }
    .slider.slider-vertical .slider-track {
      width: 10px;
      height: 100%;
      left: 25%;
      top: 0; }
    .slider.slider-vertical .slider-selection {
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0; }
    .slider.slider-vertical .slider-track-low, .slider.slider-vertical .slider-track-high {
      width: 100%;
      left: 0;
      right: 0; }
    .slider.slider-vertical .slider-tick,
    .slider.slider-vertical .slider-handle {
      margin-top: -10px; }
      .slider.slider-vertical .slider-tick.triangle,
      .slider.slider-vertical .slider-handle.triangle {
        border-width: 10px 0 10px 10px;
        width: 1px;
        height: 1px;
        border-left-color: #e53428;
        margin-left: 0; }
    .slider.slider-vertical .slider-tick-label-container {
      white-space: nowrap; }
      .slider.slider-vertical .slider-tick-label-container .slider-tick-label {
        padding-left: 4px; }
    .slider.slider-vertical.slider-rtl .slider-track {
      left: initial;
      right: 25%; }
    .slider.slider-vertical.slider-rtl .slider-selection {
      left: initial;
      right: 0; }
    .slider.slider-vertical.slider-rtl .slider-tick.triangle,
    .slider.slider-vertical.slider-rtl .slider-handle.triangle {
      border-width: 10px 10px 10px 0; }
    .slider.slider-vertical.slider-rtl .slider-tick-label-container .slider-tick-label {
      padding-left: initial;
      padding-right: 4px; }
  .slider.slider-disabled .slider-handle {
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(top, #DFDFDF, #BEBEBE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DFDFDF), to(#BEBEBE));
    background-image: -webkit-linear-gradient(top, #DFDFDF, #BEBEBE);
    background-image: -o-linear-gradient(top, #DFDFDF, #BEBEBE);
    background-image: linear-gradient(to bottom, #DFDFDF, #BEBEBE);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#BEBEBE',GradientType=0); }
  .slider.slider-disabled .slider-track {
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(top, #E5E5E5, #E9E9E9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E5E5), to(#E9E9E9));
    background-image: -webkit-linear-gradient(top, #E5E5E5, #E9E9E9);
    background-image: -o-linear-gradient(top, #E5E5E5, #E9E9E9);
    background-image: linear-gradient(to bottom, #E5E5E5, #E9E9E9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E5E5', endColorstr='#E9E9E9',GradientType=0);
    cursor: not-allowed; }
  .slider input {
    display: none; }
  .slider .tooltip-inner {
    white-space: nowrap;
    max-width: none; }
  .slider .tooltip.top {
    margin-top: -36px; }
  .slider .tooltip-inner {
    white-space: nowrap;
    max-width: none; }
  .slider .hide {
    display: none; }

.slider-track {
  background-color: #F7F7F7;
  background-image: -moz-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5F5), to(#F9F9F9));
  background-image: -webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -o-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F9F9F9',GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  cursor: pointer; }

.slider-selection {
  background-color: #000;
  background-image: -moz-linear-gradient(top, #f08a83, #eb5f55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f08a83), to(#eb5f55));
  background-image: -webkit-linear-gradient(top, #f08a83, #eb5f55);
  background-image: -o-linear-gradient(top, #f08a83, #eb5f55);
  background-image: linear-gradient(to bottom, #f08a83, #eb5f55);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f08a83', endColorstr='#eb5f55',GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute; }

.slider-selection.tick-slider-selection {
  background-color: #F7F7F7;
  background-image: -moz-linear-gradient(top, #e5372b, #e5362a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5372b), to(#e5362a));
  background-image: -webkit-linear-gradient(top, #e5372b, #e5362a);
  background-image: -o-linear-gradient(top, #e5372b, #e5362a);
  background-image: linear-gradient(to bottom, #e5372b, #e5362a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5372b', endColorstr='#e5362a',GradientType=0); }

.slider-track-low, .slider-track-high {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  background: transparent;
  border-radius: slider_border-radius(4px); }

.slider-handle {
  background-color: #e5372c;
  background-image: -moz-linear-gradient(top, #e5372b, #e5362a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5372b), to(#e5362a));
  background-image: -webkit-linear-gradient(top, #e5372b, #e5362a);
  background-image: -o-linear-gradient(top, #e5372b, #e5362a);
  background-image: linear-gradient(to bottom, #e5372b, #e5362a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5372b', endColorstr='#e5362a',GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #e53428;
  border: 0px solid transparent; }
  .slider-handle.round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
  .slider-handle.triangle {
    background: transparent none; }
  .slider-handle.custom {
    background: transparent none; }
    .slider-handle.custom::before {
      line-height: 20px;
      font-size: 20px;
      content: '\2605';
      color: #fff0c3; }

.slider-tick {
  background-color: #F7F7F7;
  background-image: -moz-linear-gradient(top, #F9F9F9, #F5F5F5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9F9F9), to(#F5F5F5));
  background-image: -webkit-linear-gradient(top, #F9F9F9, #F5F5F5);
  background-image: -o-linear-gradient(top, #F9F9F9, #F5F5F5);
  background-image: linear-gradient(to bottom, #F9F9F9, #F5F5F5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#F5F5F5',GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  filter: none;
  opacity: 0.8;
  border: 0px solid transparent; }
  .slider-tick.round {
    border-radius: 50%; }
  .slider-tick.triangle {
    background: transparent none; }
  .slider-tick.custom {
    background: transparent none; }
    .slider-tick.custom::before {
      line-height: 20px;
      font-size: 20px;
      content: '\2605';
      color: #726204; }
  .slider-tick.in-selection {
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(top, #fff0c3, #ffefc0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff0c3), to(#ffefc0));
    background-image: -webkit-linear-gradient(top, #fff0c3, #ffefc0);
    background-image: -o-linear-gradient(top, #fff0c3, #ffefc0);
    background-image: linear-gradient(to bottom, #fff0c3, #ffefc0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0c3', endColorstr='#ffefc0',GradientType=0);
    opacity: 1; }

body, html {
  background: #fff0c3;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #646464; }

a, a:visited, a:link {
  color: #646464; }

p {
  font-size: 1.2rem; }

a.red-button, button.red-button, input.red-button {
  padding: 10px 40px;
  background: #e53428;
  border-radius: 25px;
  margin-top: 50px;
  color: #fff;
  text-decoration: none; }

.h1 {
  text-align: center;
  font-size: 1.60rem;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #e53428; }

.slider {
  display: block; }
  .slider.slider-horizontal {
    width: 100%; }

.form-group {
  text-align: center;
  padding: 10px 0px; }

.form-control {
  border-radius: 25px;
  background: none;
  border-color: #e53428; }
  .form-control.small-input {
    width: 80px; }

.choice {
  background: #FFFFFF;
  border-radius: 40px;
  margin-top: 20px;
  width: 80%;
  padding: 20px 0px;
  font-size: 1.25em;
  text-transform: uppercase; }
  .input-hidden:checked + .choice {
    background: #e53428;
    color: #FFFFFF; }

.input-hidden {
  display: none; }

.step-form input[type=text].form-control {
  font-size: 30px;
  padding: 40px;
  border-radius: 80px;
  width: 80%;
  margin: 0 auto;
  position: relative; }

.reset {
  color: #646464; }

.horizontal-line {
  border-top: 1px solid #646464;
  width: 90%; }

.form-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; }
  .form-progress .progress-bar {
    float: left;
    position: absolute;
    height: 100%;
    width: 1%;
    background: #e53428; }
    .form-progress .progress-bar.step-1 {
      width: 9.09091%; }
    .form-progress .progress-bar.step-2 {
      width: 18.18182%; }
    .form-progress .progress-bar.step-3 {
      width: 27.27273%; }
    .form-progress .progress-bar.step-4 {
      width: 36.36364%; }
    .form-progress .progress-bar.step-5 {
      width: 45.45455%; }
    .form-progress .progress-bar.step-6 {
      width: 54.54545%; }
    .form-progress .progress-bar.step-7 {
      width: 63.63636%; }
    .form-progress .progress-bar.step-8 {
      width: 72.72727%; }
    .form-progress .progress-bar.step-9 {
      width: 81.81818%; }
    .form-progress .progress-bar.step-10 {
      width: 90.90909%; }

.shoot-message {
  margin: 60px 0 30px; }
  .shoot-message .icon {
    color: #e53428;
    font-size: 60px;
    display: block;
    margin: 0 auto 30px;
    position: relative; }
  .shoot-message .shoot-button {
    display: block;
    clear: both;
    padding: 20px;
    font-size: 1.5em;
    width: 20em;
    max-width: 100%;
    position: relative;
    margin: 100px auto 0;
    border-radius: 80px !important; }
    .shoot-message .shoot-button.btn, .shoot-message .shoot-button.btn:focus, .shoot-message .shoot-button.btn:active {
      outline: none; }
    .shoot-message .shoot-button + p {
      clear: both; }
    .shoot-message .shoot-button .choice {
      display: block; }

.step-9 .step-navigation, .step-9 .reset {
  display: none; }

.step-final {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #e53428;
  color: #FFFFFF;
  text-align: center; }
  .step-final strong, .step-final .strong {
    font-size: 40px;
    display: table-cell;
    height: 100vh;
    width: 100vw;
    vertical-align: middle; }
    .step-final strong span, .step-final .strong span {
      display: block; }

.shot-warning-message .icon-arrow {
  font-size: 50vh;
  transform: rotate(180deg); }
.shot-warning-message.complete strong {
  display: none; }

.display-progress .progress {
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
  margin: 50px auto 0 0;
  transition: .1s all;
  border-radius: 0; }

.resume {
  background: #fff0c3;
  color: #646464; }
  .resume p {
    margin: 4em 0; }
  .resume .user_email, .resume .web_link, .resume a {
    color: #e53428;
    text-decoration: none; }
  .resume [class^="icon-"], .resume [class*=" icon-"] {
    color: #e53428;
    font-size: 60px;
    margin: .5em 0; }

.home {
  text-align: center; }
  .home > * {
    margin: auto;
    left: 0;
    right: 0;
    position: relative; }

.home-intro {
  width: 600px;
  padding-bottom: 50px;
  margin-top: 50px; }
  .home-intro strong {
    color: #e53428;
    text-transform: uppercase; }

label.field-camera-shooter {
  display: none; }

iframe.demo {
  background: #333;
  width: 100%;
  height: calc(100vh - 10rem);
  border: none; }

.preview {
  width: 100%;
  height: 200px;
  position: relative; }

.pv {
  float: left;
  width: 20%;
  background-color: #eee;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .pv:before {
    position: relative;
    content: ' ';
    display: block;
    padding-top: 177.77778%;
    width: 100%; }
  .pv:after {
    color: #e53428;
    position: absolute;
    content: attr(id);
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 9px; }

.slave-module {
  background: #e53428;
  color: #fff; }
  .slave-module.ok {
    background: #4cae4c; }

.status-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .status-page .logger {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1em; }

.logger {
  background: #003;
  color: #fd9;
  font-size: 12px;
  font-family: "Monaco", "Courier New", Courier, monospace;
  height: 16em;
  overflow: scroll;
  padding: .5em;
  margin: .5em 0; }
  .logger .level-0 {
    color: #e53428; }
  .logger .level-1 {
    color: #fff0c3; }
  .logger .level-2 {
    color: #646464; }
  .logger .level-3 {
    color: rgba(255, 240, 195, 0.5); }
  .logger .level-4 {
    color: #6bff94;
    font-weight: bold; }

/*# sourceMappingURL=main.css.map */
