//
@import "variables";
@import "bootstrap-slider/bootstrap-slider";
@import "layout";
@import "forms";
@import "home";
//

label.field-camera-shooter{
  display: none;
}

.shoot-button{
  display: block;
  //float: center;
  clear: both;
  padding: 40px;
  font-size:3em;
  margin: 40px 0;
  width: 10em;
  max-width:100%;
}

.shoot-button {
  &.btn, &.btn:focus, &.btn:active {
    outline: none;
  }
  & + p {
    clear: both;
  }
  .choice {
    display: block;
  }
}

iframe.demo{
  background:#333;
  width:100%;
  height:calc(100vh - 10rem);
  border:none;
}

.preview{
  width:100%;
  height:200px;
  position: relative;
}

.preview > div{

}
.pv{
  float:left;
  width:percentage(1/5);
  background-color: #eee;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  //transform:rotate(180deg);
  position:relative;
  &:before {
    position: relative;
    content: ' ';
    display: block;
    padding-top: percentage(1920/1080);
    width: 100%;
  }
  &:after{
    color:$red;
    position:absolute;
    content:attr(id);
    top:0px;
    left:0px;
    padding: 2px;
    font-size:9px;
  }
}

.slave-module{
  background: $red;
  color:#fff;
  &.ok{
    background:#4cae4c;
  }
}