//
@import "variables";
@import "montserrat";
@import "bootstrap-slider/bootstrap-slider";
@import "layout";
@import "forms";
@import "home";
//

label.field-camera-shooter{
  display: none;
}

.shoot-button{
  display: block;
  //float: center;
  clear: both;
  padding: 40px;
  font-size:3em;
  margin: 40px 0;
  width: 10em;
  max-width:100%;
}

.shoot-button {
  &.btn, &.btn:focus, &.btn:active {
    outline: none;
  }
  & + p {
    clear: both;
  }
  .choice {
    display: block;
  }
}

iframe.demo{
  background:#333;
  width:100%;
  height:calc(100vh - 10rem);
  border:none;
}

.preview{
  width:100%;
  height:200px;
  position: relative;
}

.preview > div{

}
.pv{
  float:left;
  width:percentage(1/5);
  background-color: #eee;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  //transform:rotate(180deg);
  position:relative;
  &:before {
    position: relative;
    content: ' ';
    display: block;
    padding-top: percentage(1920/1080);
    width: 100%;
  }
  &:after{
    color:$red;
    position:absolute;
    content:attr(id);
    top:0px;
    left:0px;
    padding: 2px;
    font-size:9px;
  }
}

.slave-module{
  background: $red;
  color:#fff;
  &.ok{
    background:#4cae4c;
  }
}

.status-page{
  width:100vw;
  height:100vh;
  overflow: hidden;
  position: relative;
  .logger{
    margin:0;
    padding: 0;
    width:100%;
    height:100%;
    position: absolute;
    padding: 1em;
  }
}

.logger{
  background: #003;
  color:#fd9;
  font-size:12px;
  font-family: "Monaco", "Courier New", Courier, monospace;
  height:16em;
  overflow: scroll;
  padding: .5em;
  margin: .5em 0;
  .level-0{
    // error
    color:$red;
  }
  .level-1{
    color:$beige;
  }
  .level-2{
    color:$grey;
  }
  .level-3{
    // verbose
    color:transparentize($beige,.5);
  }
  .level-4{
    // success
    color:$green;
    font-weight: bold;
  }
}
